.button-container button{
    min-width: 150px;   
}
.button-container button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: black;
}
.active-button{
    background-color: blue ;
    color: white;
}