.buttonContainer button{
    min-width: 150px;   
}
.buttonContainer button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: black;
}
.activeButton{
    background-color: blue !important;
    color: white;
}